<h1><%= t("activerecord.models.contract", :count => 2) %></h1>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    <%= t("gui.messages.contracts.index") %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.contracts.driver") %></th>
            <th><%= t("activerecord.attributes.contracts.passenger") %></th>
            <th><%= t("activerecord.attributes.contracts.minute_time") %></th>
            <th><%= t("activerecord.attributes.contracts.distance") %></th>
            <th><%= t("activerecord.attributes.contracts.price") %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @contracts.each do |contract| %>
            <tr>
              <td><%= contract.user.full_name %></td>
              <td><%= contract.passenger.identification %></td>
              <td><%= contract.minute_time %></td>
              <td><%= contract.distance %></td>
              <td><%= contract.price %></td>
              <td><%= link_to t("gui.actions.show"), contract %></td>
              <td><%= link_to t("gui.actions.edit"), edit_contract_path(contract) %></td>
              <td>
                <%= link_to t("gui.actions.destroy"), contract, method: :delete, data: {
                  confirm: t('gui.messages.confirm.destroy.title'),
                  'confirm-button-text': t('gui.messages.confirm.destroy.textConfirm'),
                  'cancel-button-text': t('gui.messages.confirm.destroy.textCancel'),
                  text: t('gui.messages.confirm.destroy.text')
                } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>

<br>

<%= link_to new_contract_path, class: "btn btn-success" do %>
  <i class="fa fa-plus-square"></i>&nbsp;&nbsp;<%= "#{t("gui.actions.new")} #{t("activerecord.models.contract", count: 1)}" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#dataTable').DataTable();
  });
</script>