<h1><%= t("activerecord.models.passenger", :count => 2) %></h1>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    <%= t("gui.messages.passengers.index") %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.passengers.identification") %></th>
            <th><%= t("activerecord.attributes.passengers.email") %></th>
            <th><%= t("activerecord.attributes.passengers.phone") %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @passengers.each do |passenger| %>
            <tr>
              <td><%= passenger.identification %></td>
              <td><%= passenger.email %></td>
              <td><%= passenger.phone %></td>
              <td><%= link_to t("gui.actions.show"), passenger %></td>
              <td><%= link_to t("gui.actions.edit"), edit_passenger_path(passenger) %></td>
              <td>
                <%= link_to t("gui.actions.destroy"), passenger, method: :delete, data: {
                  confirm: t('gui.messages.confirm.destroy.title'),
                  'confirm-button-text': t('gui.messages.confirm.destroy.textConfirm'),
                  'cancel-button-text': t('gui.messages.confirm.destroy.textCancel'),
                  text: t('gui.messages.confirm.destroy.text')
                } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>

<br>

<%= link_to new_passenger_path, class: "btn btn-success" do %>
  <i class="fa fa-plus-square"></i>&nbsp;&nbsp;<%= "#{t("gui.actions.new")} #{t("activerecord.models.passenger", count: 1)}" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#dataTable').DataTable();
  });
</script>