<!DOCTYPE html>
<html>
  <head>
    <title>CarRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/headcontent" %>
    <%= yield %>
    <%= render "partials/footcontent" %>
    <%= javascript_include_tag 'footer_js', 'data-turbolinks-track' => true %>
  </body>
</html>
